root = true

# All files
[*]
indent_style = space

# Xml files
[*.xml]
indent_size = 2

# C# files
[*.cs]
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.IDE0090.severity = none

# Forces all new files to use the block-scoped format
dotnet_style_namespace_declaration = block_scoped:suggestion

# Prevents the editor from correcting existing files to file-scoped
csharp_style_namespace_declaration = block_scoped:suggestion
